body{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background: #235390;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
  }
  
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
  }
  
  .star {
      z-index: -1;
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 5.48em;
    --top-offset: 49.85vh;
    --fall-duration: 11.732s;
    --fall-delay: 5.324s;
  }
  .star:nth-child(2) {
    --star-tail-length: 5.07em;
    --top-offset: 20.22vh;
    --fall-duration: 11.336s;
    --fall-delay: 1.495s;
  }
  .star:nth-child(3) {
    --star-tail-length: 5.39em;
    --top-offset: 78.01vh;
    --fall-duration: 6.373s;
    --fall-delay: 4.621s;
  }
  .star:nth-child(4) {
    --star-tail-length: 6.35em;
    --top-offset: 28.03vh;
    --fall-duration: 10.008s;
    --fall-delay: 1.476s;
  }
  .star:nth-child(5) {
    --star-tail-length: 5.72em;
    --top-offset: 87.91vh;
    --fall-duration: 6.828s;
    --fall-delay: 4.084s;
  }
  .star:nth-child(6) {
    --star-tail-length: 6.95em;
    --top-offset: 58.2vh;
    --fall-duration: 11.193s;
    --fall-delay: 5.903s;
  }
  .star:nth-child(7) {
    --star-tail-length: 6.68em;
    --top-offset: 17.7vh;
    --fall-duration: 11.761s;
    --fall-delay: 2.992s;
  }
  .star:nth-child(8) {
    --star-tail-length: 5.05em;
    --top-offset: 40.42vh;
    --fall-duration: 10.909s;
    --fall-delay: 4.142s;
  }
  .star:nth-child(9) {
    --star-tail-length: 5.96em;
    --top-offset: 81.77vh;
    --fall-duration: 11.978s;
    --fall-delay: 6.817s;
  }
  .star:nth-child(10) {
    --star-tail-length: 6.55em;
    --top-offset: 0.84vh;
    --fall-duration: 9.677s;
    --fall-delay: 2.926s;
  }
  .star:nth-child(11) {
    --star-tail-length: 6.39em;
    --top-offset: 95.51vh;
    --fall-duration: 8.497s;
    --fall-delay: 8.449s;
  }
  .star:nth-child(12) {
    --star-tail-length: 7.12em;
    --top-offset: 7.98vh;
    --fall-duration: 10.486s;
    --fall-delay: 8.968s;
  }
  .star:nth-child(13) {
    --star-tail-length: 6.19em;
    --top-offset: 7.22vh;
    --fall-duration: 6.175s;
    --fall-delay: 3.763s;
  }
  .star:nth-child(14) {
    --star-tail-length: 5.17em;
    --top-offset: 60.07vh;
    --fall-duration: 7.888s;
    --fall-delay: 4.48s;
  }
  .star:nth-child(15) {
    --star-tail-length: 5.16em;
    --top-offset: 71.76vh;
    --fall-duration: 11.938s;
    --fall-delay: 9.119s;
  }
  .star:nth-child(16) {
    --star-tail-length: 5.66em;
    --top-offset: 96.75vh;
    --fall-duration: 8.799s;
    --fall-delay: 5.296s;
  }
  .star:nth-child(17) {
    --star-tail-length: 7.14em;
    --top-offset: 81.6vh;
    --fall-duration: 11.319s;
    --fall-delay: 8.248s;
  }
  .star:nth-child(18) {
    --star-tail-length: 6.34em;
    --top-offset: 60.89vh;
    --fall-duration: 6.538s;
    --fall-delay: 5.976s;
  }
  .star:nth-child(19) {
    --star-tail-length: 5.82em;
    --top-offset: 70.75vh;
    --fall-duration: 7.809s;
    --fall-delay: 1.732s;
  }
  .star:nth-child(20) {
    --star-tail-length: 6.44em;
    --top-offset: 65.3vh;
    --fall-duration: 8.028s;
    --fall-delay: 2.938s;
  }
  .star:nth-child(21) {
    --star-tail-length: 7.39em;
    --top-offset: 11.51vh;
    --fall-duration: 9.196s;
    --fall-delay: 7.695s;
  }
  .star:nth-child(22) {
    --star-tail-length: 5.77em;
    --top-offset: 99.42vh;
    --fall-duration: 11.591s;
    --fall-delay: 5.601s;
  }
  .star:nth-child(23) {
    --star-tail-length: 6.67em;
    --top-offset: 91.56vh;
    --fall-duration: 10.432s;
    --fall-delay: 7.116s;
  }
  .star:nth-child(24) {
    --star-tail-length: 5.57em;
    --top-offset: 23.5vh;
    --fall-duration: 7.312s;
    --fall-delay: 3.405s;
  }
  .star:nth-child(25) {
    --star-tail-length: 6.93em;
    --top-offset: 58.56vh;
    --fall-duration: 7.782s;
    --fall-delay: 7.932s;
  }
  .star:nth-child(26) {
    --star-tail-length: 6.59em;
    --top-offset: 58.48vh;
    --fall-duration: 9.499s;
    --fall-delay: 6.941s;
  }
  .star:nth-child(27) {
    --star-tail-length: 5.07em;
    --top-offset: 36.17vh;
    --fall-duration: 6.612s;
    --fall-delay: 1.738s;
  }
  .star:nth-child(28) {
    --star-tail-length: 6.1em;
    --top-offset: 1.54vh;
    --fall-duration: 7.92s;
    --fall-delay: 8.155s;
  }
  .star:nth-child(29) {
    --star-tail-length: 5.45em;
    --top-offset: 22.61vh;
    --fall-duration: 9.155s;
    --fall-delay: 2.752s;
  }
  .star:nth-child(30) {
    --star-tail-length: 6.64em;
    --top-offset: 29.76vh;
    --fall-duration: 8.879s;
    --fall-delay: 5.048s;
  }
  .star:nth-child(31) {
    --star-tail-length: 6.15em;
    --top-offset: 94.56vh;
    --fall-duration: 9.906s;
    --fall-delay: 2.103s;
  }
  .star:nth-child(32) {
    --star-tail-length: 6.45em;
    --top-offset: 8.22vh;
    --fall-duration: 6.114s;
    --fall-delay: 4.835s;
  }
  .star:nth-child(33) {
    --star-tail-length: 7.48em;
    --top-offset: 28.34vh;
    --fall-duration: 9.156s;
    --fall-delay: 0.835s;
  }
  .star:nth-child(34) {
    --star-tail-length: 5.25em;
    --top-offset: 47.76vh;
    --fall-duration: 9.002s;
    --fall-delay: 4.086s;
  }
  .star:nth-child(35) {
    --star-tail-length: 6.38em;
    --top-offset: 36.98vh;
    --fall-duration: 7.445s;
    --fall-delay: 2.974s;
  }
  .star:nth-child(36) {
    --star-tail-length: 7.35em;
    --top-offset: 73.33vh;
    --fall-duration: 7.309s;
    --fall-delay: 3.887s;
  }
  .star:nth-child(37) {
    --star-tail-length: 5em;
    --top-offset: 56.98vh;
    --fall-duration: 8.302s;
    --fall-delay: 0.961s;
  }
  .star:nth-child(38) {
    --star-tail-length: 7.32em;
    --top-offset: 56.13vh;
    --fall-duration: 8.906s;
    --fall-delay: 7.306s;
  }
  .star:nth-child(39) {
    --star-tail-length: 7.32em;
    --top-offset: 23.58vh;
    --fall-duration: 8.97s;
    --fall-delay: 2.261s;
  }
  .star:nth-child(40) {
    --star-tail-length: 6.79em;
    --top-offset: 9.49vh;
    --fall-duration: 7.722s;
    --fall-delay: 9.922s;
  }
  .star:nth-child(41) {
    --star-tail-length: 7.12em;
    --top-offset: 45.47vh;
    --fall-duration: 10.346s;
    --fall-delay: 5.018s;
  }
  .star:nth-child(42) {
    --star-tail-length: 6.79em;
    --top-offset: 25.72vh;
    --fall-duration: 9.393s;
    --fall-delay: 4.824s;
  }
  .star:nth-child(43) {
    --star-tail-length: 6.55em;
    --top-offset: 84.56vh;
    --fall-duration: 6.644s;
    --fall-delay: 7.79s;
  }
  .star:nth-child(44) {
    --star-tail-length: 7.38em;
    --top-offset: 96.04vh;
    --fall-duration: 10.88s;
    --fall-delay: 0.611s;
  }
  .star:nth-child(45) {
    --star-tail-length: 5.3em;
    --top-offset: 73.34vh;
    --fall-duration: 10.806s;
    --fall-delay: 7.365s;
  }
  .star:nth-child(46) {
    --star-tail-length: 6.44em;
    --top-offset: 18.42vh;
    --fall-duration: 9.733s;
    --fall-delay: 9.142s;
  }
  .star:nth-child(47) {
    --star-tail-length: 5.26em;
    --top-offset: 49.78vh;
    --fall-duration: 7.609s;
    --fall-delay: 0.8s;
  }
  .star:nth-child(48) {
    --star-tail-length: 6.73em;
    --top-offset: 79.97vh;
    --fall-duration: 11.112s;
    --fall-delay: 6.481s;
  }
  .star:nth-child(49) {
    --star-tail-length: 6.31em;
    --top-offset: 47.66vh;
    --fall-duration: 9.328s;
    --fall-delay: 2.774s;
  }
  .star:nth-child(50) {
    --star-tail-length: 5.13em;
    --top-offset: 78.79vh;
    --fall-duration: 8.924s;
    --fall-delay: 4.066s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }

.container{
    background: url('img/star-pattern.svg');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
    z-index: 1;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-text{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}